<div class="text-center">
    <h1 class="display-4">TechEmpower ASP.NET MVC (.NET Framework 4.8) Benchmarks</h1>
    <ul>
        <li><a href="~/plaintext">Plaintext</a></li>
     <li><a href="~/json">Json</a></li>
        <li><a href="~/db">Single Query</a></li>
        <li><a href="~/queries/20">Multiple Queries</a></li>
        <li><a href="~/updates/20">Updates</a></li>
        <li><a href="~/fortunes">Fortunes</a></li>
    </ul>
</div>
